@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.player-score{
    
    width:70px;
    height: 10px;
    font-family: 'Press Start 2P', cursive;
    color: var(--color-floral-white);
}