@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.player-name{
    display: inline;
    width:70px;
    height: 10px;
    color: var(--color-floral-white);
    font-size: 1rem;
}