:root {
    --color-alura: #051932;
    --pomb-and-power: #7c5e99;
    --arsenic: #3a4042;
    --eggshell: #eae6da;
    --floral-white: #fffcee;
    --old-silver: #828282;
    --fiery-rose: #f25a70;
    --cardinal: #ba1f33;
    --sandstorm: #f5d547;
    --mantis: #62c370;
}

